body {
  background-color: #81a8db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header,
h2,
footer {
  color: bisque;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

input {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: biqsue;
}

button {
  padding: 10px 20px;
  margin: 20px;
  background-color: bisque;
  color: #81a8db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.output {
  padding: 10px 20px;
  margin: 5px;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: bisque;
}

img {
  width: 300px;
  padding: 10px;
  margin: 20px;
}
